.banner{
    background-image: url('./images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    position: relative;

}
.hover{
    transition: all 0.3s ease;
    opacity: 0.7;
}
.hover:hover{
    box-shadow: 1px 1px 10px grey;
    opacity: 1;
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.content{
    position: absolute;
    color: white;
    left: 15%;
    top: 30%;
}
.navbar{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-link{
    color: white !important;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.3s ease;
}
.nav-link:hover{
    color: yellow !important;
}
.navbar-brand{
    color: white !important;
    font-size: 25px;
    font-weight: bold;
}